.EasyParkSliderBox {
    position: relative;
    height: 120px;
    margin-top: 50px;
  }
  
  .EasyParkSliderBoxContentRight {
    --slide-text: "Swipe right to park";
    --slide-float: right;
  }
  
  .EasyParkSliderBoxContentLeft {
    --slide-text: "Swipe left to stop";
    --slide-float: left;
  }
  
  .EasyParkSliderBox .EasyParksliderContainer {
    position: absolute;
    left: 0px;
    right: 0px;
  
    border-radius: 100px;
    border: 3px solid #d1d1d1;
    padding: 6px;
  }
  
  .EasyParkSliderBox .EasyParkSlider {
    border: 1px solid #E5E5E5;
  }
  
  .EasyParkSliderBox .rangeslider {
    height: 100px !important;
    border-radius: 50px !important;
    /* padding-left: 20px;
    padding-right: 20px; */
    box-shadow: none !important;
    margin: 0px !important;
  }
  
  .EasyParkSliderBox .rangeslider::after {
    /* content: 'Swipe right to park'; */
    content: var(--slide-text);
    float: var(--slide-float);
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'SBBWeb-Roman';
    font-size: 20px;
    color: #b3b3b3;
  }
  
  .EasyParkSliderBox .rangeslider__handle {
    background-color: #EB0000 !important;
    box-shadow: none !important;
    width: 100px !important;
    height: 100px !important;
    border-radius: 50px !important;
  }
  
  .EasyParkSliderBox .rangeslider__handle::after {
    background-color: #EB0000 !important;
    box-shadow: none !important;
    top: 40px !important;
    left: 40px !important;
    width: 0px !important;
    height: 0px !important;
  }
  
  .EasyParkSliderBox .rangeslider__fill {
    height: 0px !important;
  }
  
  .EasyParkSliderBox .rangeslider__handle-label {
    font-family: 'SBBWeb-Bold' !important;
    font-size: 26px !important;
    color: #f5f5f5 !important;
    margin-top: 35px !important;
    text-align: center;
  }
  