

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}

.App-header {
  background-color: #D82E20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




@font-face {
  font-family: 'SBBWeb-Light';
  src: local('SBBWeb-Light'), url(./SBBWeb-Light.woff) format('woff');
}

@font-face {
  font-family: 'SBBWeb-Bold';
  src: local('SBBWeb-Bold'), url(./SBBWeb-Bold.woff) format('woff');
}

@font-face {
  font-family: 'SBBWeb-Roman';
  src: local('SBBWeb-Roman'), url(./SBBWeb-Roman.woff) format('woff');
}

.App {
  font-family: 'SBBWeb-Roman';
}

.header {
  height: 80px;
  background-color: #D82E20;
}

.header > p {
  font-family: 'SBBWeb-Light';
  text-align: center;
  font-size: 30px;
  width: 100%;
  float:left;
  display:inline;
  color: white;
}

.logo {
  height: 50px;
  float: right;
  margin-right: 20px;
  margin-top: -80px;
  pointer-events: none;
  display:inline;
}

.searchbar {
  height: 65px;
  background: white;
}

.searchbar > p {
  color: #7a7a7a;
  font-size: 20px;
  display: inline;
  float: left;
  margin-top: 6px;
  margin-left: 15px;
}

.searchIcon {
  height: 25px;
  margin-top: 5px;
  margin-left: 20px;
  float:left;
  display:inline;
}

.spacer {
  height: 10px;
}

.item {
  background: #f5f5f5;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  margin-bottom: 5px;
}

.itemTitle {
  color: #D82E20;
  font-size: 25px;
  /* margin-left: 15px; */
}

.createNow {
  color: #D82E20;
  font-size: 18px;
  float: right;
}

.clearFloat {
  clear: both;
}

.EPLocation {
  height: 25px;
  margin-top: 5px;
  margin-left: 20px;
  float:left;
  display:inline;
}

.EPLocation > p {
  font-size: 18px;
  display: inline;
  float: left;
  margin-top: 6px;
  margin-left: 15px;
}

.pinIcon {
  height: 25px;
  margin-top: 5px;
  margin-left: 20px;
  float:left;
  display:inline;
}

.EPLocationName {
  font-family: 'SBBWeb-Bold';
}

.sliderBox {
  margin-top: 50px;
}

.rangeslider {
  height: 100px !important;
  border-radius: 50px !important;
}

.rangeslider__handle {
  background-color: #D82E20 !important;
  box-shadow: none !important;
  width: 100px !important;
  height: 100px !important;
  border-radius: 50px !important;
}

.rangeslider__handle::after {
  background-color: #D82E20 !important;
  box-shadow: none !important;
  top: 40px !important;
  left: 40px !important;
  width: 0px !important;
  height: 0px !important;
}

.rangeslider__fill {
  height: 0px !important;
}

.rangeslider__handle-label {
  font-family: 'SBBWeb-Bold' !important;
  font-size: 26px !important;
  color: #dadada !important;
  margin-top: 32px !important;
  margin-left: 25px !important;
}
