.occCar {
    height: 58px;
    width: 65px;
    display: inline;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

.occSlider {
    margin-bottom: 90px;
}

.occSlider .rangeslider {
    /* height: 100px !important; */
    /* border-radius: 50px !important; */
    height: 36px !important;
}

.occSlider .rangeslider__handle {
    box-shadow: none !important;
    border-radius: 50px !important;

    width: 42px;
    height: 40px;

    background-image: url("./assets/car_slider.png");
    background-size: 42px;
    background-repeat: no-repeat;
}

.occSlider .rangeslider__handle::after {
    background-color: #EB0000 !important;
    box-shadow: none !important;
    width: 0px !important;
    height: 0px !important;

    background-image: url("./assets/car_slider.png");
    background-size: 30px;
}

.occSlider .rangeslider__fill {
    background-color: #EB0000 !important; 
}