.ss_container {
    margin: auto;
    margin-bottom: -32px;
}

.ss_service_container {
    background-color: white;

    font-size: 20px;

    float: left;
    border: none;

    margin: 15px 10px 10px 10px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.ss_img_container {
    white-space: nowrap;
    height: 85px;
}

.ss_img_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.ss_img {
    width: 70px;
    margin: auto;
    margin-top: 15px;
    vertical-align: middle;
}

.ss_of {
    margin-top: 10px;
}