.sp_main_container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.65);
}

.sp_close_x {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 50px;
    color: white;
}

.sp_close_x:hover {
    color: #eb0000;
}

.sp_left_container {
    position: absolute;
    left: 100px;
    top: 100px;

    font-size: 24px;
}

.sp_text {
    color: white;
}

.sp_undertitle {
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

.sp_left_container > h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 5px;
}

.sp_authors {
    font-size: 35px;
    color: white;
}

.sp_authors_name {
    color: white;
    margin: 12px;
}

.sp_authors_link {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.sp_authors_link:hover {
    color: white;
    font-weight: bold;
}

.sp_zoom_img {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 700px;
}

.sp_close_button {
    margin-top: 20px;
    background: #eb0000;
    font-size: 24px;
    width: 300px;
    color: white;
    text-align: center;
}

.sp_close_button > p {
    margin: 10px;
}